<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--配置spring环境变量-->
    <springProperty scope="context" name="port" source="server.port"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="logHome" source="logging.logHome"/>
    <springProperty scope="context" name="appNameCN" source="logging.appNameCN"/>
    <springProperty scope="context" name="envNameCN" source="logging.envNameCN"/>
    <springProperty scope="context" name="emailTo" source="logging.emailTo"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%trace表示请求标志，%-5level：级别从左显示5个字符宽度，%msg日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${envNameCN} ${port}] [%X{trace}] [%X{moduleName}] - %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天30M生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最新日志文件输出的文件名-->
        <file>${logHome}/${appName}.${port}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/%d{yyyy-MM-dd}/%i.${port}.log</fileNamePattern>
            <!-- 单文件最大大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志文件保存周期 -->
            <maxHistory>365</maxHistory>
            <!-- 日志文件存储内存空间 -->
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${envNameCN} ${port}] [%X{trace}] [%X{moduleName}] - %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="com.hzed.easyget.infrastructure.config.logback.MyModuleNameNotFilter">
            <moduleName>定时任务</moduleName>
        </filter>
    </appender>

    <appender name="FILE_CRON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最新日志文件输出的文件名-->
        <file>${logHome}/${appName}.${port}.cron.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/%d{yyyy-MM-dd}/%i.${port}.cron.log</fileNamePattern>
            <!-- 单文件最大大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志文件保存周期 -->
            <maxHistory>365</maxHistory>
            <!-- 日志文件存储内存空间 -->
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${envNameCN} ${port}] [%X{trace}] [%X{moduleName}] - %-5level - %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="com.hzed.easyget.infrastructure.config.logback.MyModuleNameFilter">
            <moduleName>定时任务</moduleName>
        </filter>
    </appender>

    <!-- ERROR邮件发送配置 -->
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <!-- SMTP server的地址，必需指定。 -->
        <smtpHost>smtp.exmail.qq.com</smtpHost>
        <!-- SMTP server的端口地址。-->
        <smtpPort>465</smtpPort>
        <!-- 发送邮件账号 -->
        <username>qmqb@hzed.com</username>
        <!-- 发送邮件密码 -->
        <password>hUd5NXkNC6pS9abY</password>
        <!-- 如果设置为true，appender将会使用SSL连接到日志服务器。默认值：false -->
        <SSL>true</SSL>
        <!-- 指定发送到那个邮箱，设置多个用","分隔 -->
        <to>${emailTo}</to>
        <!-- 必须与发送邮件账号一致 -->
        <from>qmqb@hzed.com</from>
        <!-- 指定emial的标题，它需要满足PatternLayout中的格式要求。默认值："%{logger20} - %m". -->
        <subject>【${appNameCN}-${envNameCN}-${port}-报错】</subject>
        <!-- 异步发送 -->
        <asynchronousSending>true</asynchronousSending>
        <!-- html格式-->
        <layout class="com.hzed.easyget.infrastructure.config.logback.MyHTMLLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}%X{trace}%X{moduleName}%-5level%logger{50}%msg</pattern>
        </layout>
        <!-- 这里采用等级过滤器 指定等级相符才发送 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <!-- 每个电子邮件只发送一个日志条目 -->
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <!-- 这些日志不要打印debug，不然数量太多 -->
    <logger name="org.spring" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <!-- 环境输出日志类型 关联 spring.profiles.active -->
    <springProfile name="dev">
        <root level="debug">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="debug">
            <appender-ref ref="FILE"/>
            <appender-ref ref="FILE_CRON"/>
            <appender-ref ref="EMAIL"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="FILE"/>
            <appender-ref ref="FILE_CRON"/>
            <appender-ref ref="EMAIL"/>
        </root>
    </springProfile>

</configuration>