<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzed.easyget.persistence.ext.mapper.BidExtMapper">

    <select id="selectBidsToPush" parameterType="java.util.Map" resultType="com.hzed.easyget.persistence.ext.entity.BidExt">
      select bd.id as bidId
      from t_loan_bid bd
      where bd.status=1 and bd.id not in
        (select bd.id
         from t_loan_bid bd
         left join t_loan_temp_table tt
         on bd.id=tt.relase_id
         where tt.job_name='pushBid'
        )
    </select>
    <select id="findBankLoanBids" parameterType="java.util.Map" resultType="com.hzed.easyget.persistence.ext.entity.BidExt">
        select bd.id as bidId
        from t_loan_bid bd
        where bd.status=4 and bd.id not in
        (select bd.id
        from t_loan_bid bd
        left join t_loan_temp_table tt
        on bd.id=tt.relase_id
        where tt.job_name='bankLoan'
        )
    </select>

    <!--放款信息查询-->
    <select id="findLoanTransaction" resultType="com.hzed.easyget.controller.model.LoanTransactionRequest">
        SELECT
        u.real_name AS payeeName,/*收款人*/
        u.mobile_account AS payeeMsisdn, /*收款人手机*/
        b.in_account AS  payeeAccount,/*收款账户*/
        b.in_bank as payeeBankName, /*收款银行*/
        (b.loan_amount - b.audit_fee) AS amount /*放款金额*/
        FROM t_loan_bid b
        LEFT  JOIN  t_loan_user u ON b.`user_id`=u.`id`
        WHERE  b.id=#{bidId}
    </select>
    <!--查询推送定时任务-->
    <select id="findTempTableByBidNoAndName" resultType="java.lang.Long">
      SELECT id from t_loan_temp_table where relase_id=#{bidNo} and job_name=#{taskName}
    </select>
    <!--修改交易状态-->
    <update id="updateUserTranceOverstate" parameterType="com.hzed.easyget.persistence.auto.entity.UserTransaction">
        update t_loan_user_transaction
        set
        status = #{status},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where payment_id = #{paymentId,jdbcType=VARCHAR}
    </update>
</mapper>