<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzed.easyget.persistence.ext.mapper.BidExtMapper">

    <select id="selectBidsToPushOrBankLoan" parameterType="java.util.Map" resultType="com.hzed.easyget.persistence.ext.entity.BidExt">
        SELECT bd.id AS bidId,bd.user_id AS userId
        FROM t_loan_bid bd  LEFT JOIN t_loan_temp_table tt
        ON bd.id=tt.relase_id
        WHERE bd.status=#{status} AND(( tt.re_run_times &lt; #{times}  AND tt.job_name=#{jobName} ) OR tt.relase_id IS NULL)
        LIMIT 60
    </select>
    <!--放款信息查询-->
    <select id="findLoanTransaction" resultType="com.hzed.easyget.controller.model.LoanTransactionRequest">
        SELECT
        u.real_name AS payeeName,/*收款人*/
        u.mobile_account AS payeeMsisdn, /*收款人手机*/
        b.in_account AS  payeeAccount,/*收款账户*/
        UPPER (b.in_bank) as payeeBankName, /*收款银行*/
        (b.loan_amount - b.audit_fee) AS amount /*放款金额*/
        FROM t_loan_bid b
        LEFT  JOIN  t_loan_user u ON b.`user_id`=u.`id`
        WHERE  b.id=#{bidId}
    </select>
</mapper>