<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzed.easyget.persistence.ext.mapper.SaExtMapper">

    <select id="queryInDataInfo" resultType="com.hzed.easyget.persistence.ext.entity.SaExt">
        SELECT bid.id as bid_id, bid.user_id, bid.status as bid_status, pro.handle_time, pro.handle_result, users.telephone, users.user_name
        FROM t_loan_bid bid
        LEFT JOIN t_loan_bid_progress pro ON bid.id = pro.bid_id
        LEFT JOIN t_sys_user users ON bid.user_id = users.id
        WHERE pro.handle_time BETWEEN #{startDate} AND #{endDate}
        AND bid.status IN (3, 4)
    </select>

    <select id="findInDataInfo" resultType="java.lang.Integer">
        select count(*) from t_sa_jinjian_order where bid_id = #{bidId} and user_id = #{userId}
    </select>

    <insert id="batchSaveInData" parameterType="java.util.List">
        INSERT INTO  t_sa_jinjian_order
        (id, bid_id, bid_status, user_id, user_reality_name, user_mobile, status, audit_time, audit_suggest, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" index="index" open=""
                 close="" separator=",">
            (NULL, #{item.bidId}, #{item.bidStatus}, #{item.userId}, #{item.userName}, #{item.telephone}, 100, #{item.handleTime}, #{item.handleResult}, NOW(), NULL)
        </foreach>
    </insert>

    <select id="pushInDataList" resultType="com.hzed.easyget.persistence.ext.entity.SaExt">
        SELECT bid.id as bid_id, bid.user_id, bid.status as bid_status, pro.handle_time, pro.handle_result, users.telephone, users.user_name
        FROM t_loan_bid bid
        LEFT JOIN t_loan_bid_progress pro ON bid.id = pro.bid_id
        LEFT JOIN t_sys_user users ON bid.user_id = users.id
        LEFT JOIN t_sa_jinjian_order jijian ON jijian.bid_id = bid.id
        WHERE (pro.handle_time BETWEEN #{startDate} AND #{endDate})
        AND bid.status IN (3, 4)
        AND jijian.status = 100
    </select>

    <select id="calculateLoanTimes" resultType="java.lang.Integer">
       SELECT count(*) AS loan_times FROM t_loan_bid bid LEFT JOIN t_loan_bill bill ON bid.id = bill.bid_id WHERE bid.status IN (5, 6) AND user_id = #{userId}
    </select>

    <update id="updateToDbInDataDetail">
       update t_sa_jinjian_order set status = 120, update_time = NOW()  where bid_id = #{bidId} and user_id = #{userId}
    </update>

    <select id="loanSuccessList" resultType="com.hzed.easyget.persistence.ext.entity.SaExt">
      SELECT bid.id as bid_id, bid.status as bid_status, bid.user_id, date_add(bill.repayment_time, INTERVAL - 1 DAY) as real_repayment_time
      FROM t_loan_bid bid
      LEFT JOIN t_loan_bid_progress prog on bid.id = prog.bid_id
      LEFT JOIN t_sys_user users on users.id = bid.user_id
      LEFT JOIN t_loan_bill bill ON bid.id = bill.bid_id
      WHERE bid.status = 5 AND prog.type = 2 AND prog.handle_time IS NOT NULL
      AND (date_add(bill.repayment_time, INTERVAL - 14 DAY)  BETWEEN #{startDate} AND #{endDate})
      ORDER BY prog.handle_time ASC
    </select>

    <select id="findLoanSuccess" resultType="java.lang.Integer">
        select count(*) from t_sa_loan_succee_order where bid_id = #{bidId} and user_id = #{userId}
    </select>

    <insert id="batchSaveLoanSuccess" parameterType="java.util.List">
        INSERT INTO t_sa_loan_succee_order
        (id, bid_id, bid_status, loan_times, user_id, status, real_repayment_time, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" index="index" open=""
                 close="" separator=",">
            (NULL, #{item.bidId}, #{item.bidStatus}, 0,  #{item.userId}, 100, #{item.realRepaymentTime}, NOW(), NULL)
        </foreach>
    </insert>

    <select id="pushLoanSuccessList"   resultType="com.hzed.easyget.persistence.ext.entity.SaExt">
      SELECT bid.id as bid_id, bid.status as bid_status, bid.user_id, date_add(bill.repayment_time, INTERVAL - 1 DAY) as real_repayment_time
      FROM t_loan_bid bid
      LEFT JOIN t_loan_bid_progress prog on bid.id = prog.bid_id
      LEFT JOIN t_sys_user users on users.id = bid.user_id
      LEFT JOIN t_loan_bill bill ON bid.id = bill.bid_id
      LEFT JOIN t_sa_loan_succee_order loan ON bid.id = loan.bid_id
      WHERE bid.status = 5 AND prog.type = 2 AND prog.handle_time IS NOT NULL
      AND (date_add(bill.repayment_time, INTERVAL - 14 DAY)  BETWEEN #{startDate} AND #{endDate})
      AND loan.status = 100
      ORDER BY prog.handle_time ASC
    </select>

    <update id="updateToDbLoanSuccessDetail">
      update t_sa_loan_succee_order set status = 120, update_time = NOW()  where bid_id = #{bidId} and user_id = #{userId}
    </update>

    <select id="repaymentSuccessList" resultType="com.hzed.easyget.persistence.ext.entity.SaExt">
        SELECT bid.id as bid_id, bid.user_id, bid.status as bid_status, bill.status as bill_status, bill.is_partial_repayment, date_add(bill.repayment_time, INTERVAL - 1 DAY) as real_repayment_time
        FROM t_loan_bid bid
        LEFT JOIN t_loan_bill bill on bid.id = bill.bid_id
        LEFT JOIN t_loan_bill_ledger ledger on bill.id = ledger.bill_id
        WHERE bid.status in(5,6)
        AND bid.period in (14)
        AND bill.status in(1,2,3)
        AND bill.is_partial_repayment in(0,1)
        AND (ledger.real_repayment_time BETWEEN #{startDate} AND #{endDate})
    </select>

    <select id="findRepaymentSuccess" resultType="java.lang.Integer">
        select count(*) from t_sa_repayment_succee_order where bid_id = #{bidId} and user_id = #{userId}
    </select>

    <insert id="batchSaveRepaymentSuccess" parameterType="java.util.List">
        INSERT INTO t_sa_repayment_succee_order
        (id, bid_id, bid_status, user_id, bill_status, bill_is_partial_repayment, real_repayment_time, status, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" index="index" open=""
                 close="" separator=",">
            (NULL, #{item.bidId}, #{item.bidStatus}, #{item.userId}, #{item.billStatus}, #{item.isPartialRepayment}, #{item.realRepaymentTime}, 100, NOW(), NULL)
        </foreach>
    </insert>

    <select id="pushRepaymentSuccessList" resultType="com.hzed.easyget.persistence.ext.entity.SaExt">
        SELECT bid.id as bid_id, bid.user_id, bid.status as bid_status, bill.status as bill_status, bill.is_partial_repayment, date_add(bill.repayment_time, INTERVAL - 1 DAY) as real_repayment_time
        FROM t_loan_bid bid
        LEFT JOIN t_loan_bill bill on bid.id = bill.bid_id
        LEFT JOIN t_loan_bill_ledger ledger on bill.id = ledger.bill_id
        LEFT JOIN t_sa_repayment_succee_order repayment on repayment.bid_id = bid.id
        WHERE bid.status in(5,6)
        AND bid.period in (14)
        AND bill.status in(1,2,3)
        AND bill.is_partial_repayment in(0,1)
        AND repayment.status = 100
        AND (ledger.real_repayment_time BETWEEN #{startDate} AND #{endDate})
    </select>

    <update id="updateToDbRepaymentSuccessDetail">
        update t_sa_repayment_succee_order set status = 120, update_time = NOW() where bid_id = #{bidId} and user_id = #{userId}
    </update>

    <insert id="saOperator" parameterType="com.hzed.easyget.persistence.ext.entity.SaExt">
       INSERT INTO t_sa_yunyingshang_order (id, user_id, user_mobile, is_boolean, desc, create_time, update_time)
       VALUES (NULL,  #{userId},  #{userMobile},  #{bool},  #{desc}, NOW(), NULL)
    </insert>

</mapper>